/*  Stili generali di pagina */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

body .input {
  margin-top: 200px;
}

h2 {
  color: red;
}

.number {
  width: 100px;
  margin: 20px;
}
